venv
venv_linux
__pycache__
.ruff_cache
.pytest_cache
.DS_Store
cnn-visual-tutorial/
yolov10/
plugins/agile-marketplace/sprint-plugin/node_modules/
.trae/
sprint_logs/
jira.md
.claude/jira.md
plugins/agile-marketplace/sprint-plugin/jira.md
plugins/agile-marketplace/sprint-plugin/.claude/jira.md
